body{
    background-image: url('./Assets/backGround.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}
.nav-link:hover{
  background-color: black;
}
#logo{
  width: 2%;
}