.imgContainer{
    background-image: url('./Assets/backGround.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
  height: 100%;
}
.nav-link:hover{
  background-color: black;
}
#logo{
  width: 2%;
}
.headerText{
  color: lightcyan;
}

.card_img{
  width: 50%;
}

.cards{

  display: flex;
  justify-content: space-between;
}

.card:hover{
  background-color: aquamarine;
}